

/* Page Styles */
#carouselContainer {
  position: relative;
  width: 600px; /* Adjust as needed */
  margin: auto;
  overflow: hidden;
  border-radius: 5px;
  background-color: blue;
}

#imagesWrapper img {
  width: 100%; /* Ensure images fit the container */
}

#leftArrow, #rightArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ee6d6d;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  border-radius: 5px;
}

#leftArrow {
  left: 10px;
}

#rightArrow {
  right: 10px;
}